html, body{margin: 0px;
padding: 0;}

*,*::after,*::before{box-sizing: border-box ;}

h1,p{margin: 0;}

body{background-color: hsl(30,38%,92%);
display: flex;
align-items:center;
padding: 0 28;
font: Montserrat;
}

h1{font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img{max-width: 100%;}

.perfumesq{background-color: white;
display: flex;
flex-direction: column;
border-radius: 8px;
padding: 5px;}

.perfume title{font-size: 11px;
color: #6C7289;}

p{font-size: 14px;
font-family: Montserrat;
font-weight: 500;}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 53%, 38%); }

.addtocart{background-color: hsl(228, 12%, 48%);}

.perfume-img{width: 50%; height: fit-content;}

.saleprice{ color: #3d8168;
font-family: Verdana, Geneva, Tahoma, sans-serif;}

.formerprice{text-decoration: line-through;
color: #6C7289;
font-family: Verdana, Geneva, Tahoma, sans-serif;}